# Папка с установленными пакетами (огромная, не нужна в репозитории)
node_modules/

# Папка с собранными файлами (собирается локально)
dist/

# Битрикс
/bitrix/
/upload/
/local/cache/
/local/logs/

/www/
# Docker (секреты)
/docker/.env
/docker/.env_sql
/docker/.env_php
/docker/.env_push*
/docker/.env_redis
/docker/.env_ssl
/docker/.env_*

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Система
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/