.banner{
    border-radius: 40px;
    padding: 25px 0;
}

.banner-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width:991px){
        flex-direction: column;
    }
    &__tab{
        max-width: max-content;
    }
    &__title{
        max-width: 100%;
       
    }
    &__left{
        flex: 1;
    }
    &__right{
        flex: 1;
        display: flex;
        gap: 20px;

        @media (max-width:991px){
            flex-wrap: wrap;
        }
    }

    &__block{
        border-radius: 20px;
        background: var(--gray-bg);
        padding: 50px 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 240px;

         @media (max-width:991px){
            min-width: auto;
            flex: 1 1 calc(33.333% - 14px);
        }

        &-name{
            font-weight: 500;
            font-size: 19px;
            text-align: center;
            color: var(--gray-text);
        }

        &-value{
            font-weight: 600;
            font-size: 76px;
            color: var(--black);
            display: flex;
            align-items: center;
            gap: 4px;
            span{
                font-size: 55px;
                color: var(--pink);
            }
        }
    }
}