@import 'category_card';

.category-slider{
    position: relative;
}
.category-block{
    overflow: hidden;
    margin-top: 50px;
}
.catalog-row-item{
    display: contents;
}
@media(max-width:1600px){
    .category-slide{
        max-width: max-content;
    }
}