.reviews-block{
    display: flex;
    align-items: flex-start;

    &__stats{
        display: flex;
        flex-direction: column;

        &-top{
            display: flex;
            align-items: flex-end;
        }

        &-subtext{
            font-weight: 400;
            font-size: 15px;
            line-height: 130%;
            color: var(--light-gray-text);
            margin-top: 21px;
        }
    }

    &__current{
        font-weight: 400;
        font-size: 80px;
        line-height: 84%;
        letter-spacing: -0.05em;
        color: var(--black);

        
    }
    
    &__all{
        display: flex;
        align-items: flex-end;
        gap: 10px; 
        svg{
            min-width:31px;
            height: auto;
        }
        span{
            font-weight: 400;
            font-size: 26px;
            line-height: 140%;
            color: var(--gray-text);
            text-wrap: nowrap;
        }
    }
    &__slider-container{
        max-width: 70%;
        overflow: hidden;
    }
   
}
.reviews-slide{
     &__title{
        font-weight: 500;
        font-size: 19px;
        line-height: 110%;
        color: var(--black);
        margin-bottom: 7px;
    }
    &__rating{
        display: flex;
        align-items: center;
        gap: 4px;    
        margin-bottom: 20px;
    }
}