<section class="advantages-block">
    <div class="container-fluid">
        <div class="row row--advantage">
            <div class="col-xl-6">
                <h2 class="section-title">Преимущества работы с компанией «СПАНдом»</h2>
            </div>
            <div class="col-xl-6">
                <div class="hero-block__tabs">
                    <div class="hero-block__tab big-tab">
                        <div class="big-tab__icon">
                            <img src="/images/icon_roll.svg" alt="" width="40" height="40" loading="lazy">
                        </div>
                        <div class="big-tab__text">Выполняем сложение рулонов и УФ стабилизацию</div>
                    </div>
                    <div class="hero-block__tab big-tab">
                        <div class="big-tab__icon">
                            <img src="/images/icon_cutting.svg" alt="" width="40" height="40" loading="lazy">
                        </div>
                        <div class="big-tab__text">Резка рулонов по согласованию с заказчиком</div>
                    </div>
                    <div class="hero-block__tab big-tab">
                        <div class="big-tab__icon">
                            <img src="/images/icon_color.svg" alt="" width="40" height="40" loading="lazy">
                        </div>
                        <div class="big-tab__text">Разрабатываем и производим индивидуальные цвета</div>
                    </div>
                    <div class="hero-block__tab big-tab">
                        <div class="big-tab__icon">
                            <img src="/images/icon_chemistry.svg" alt="" width="40" height="40" loading="lazy">
                        </div>
                        <div class="big-tab__text">Успешно внедряем новые добавки и стабилизаторы</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="video-block">
        <div class="video-block__container">
            <video src=""></video>
            
            <div class="video-block__container-image">
                <img src="/images/video.png" width="1600" height="900" loading="lazy" alt="">
                <div class="video-block__icon">
                    <svg width="117" height="117" viewBox="0 0 117 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="58.5" cy="58.5" r="58" stroke="white" />
                        <path d="M52 66.4339V51.5661C52 50.0043 53.7102 49.0451 55.0429 49.8595L67.2074 57.2934C68.4836 58.0733 68.4836 59.9267 67.2074 60.7066L55.0429 68.1404C53.7102 68.9549 52 67.9957 52 66.4339Z" fill="white" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="video-block__advantages">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                         <div class="video-block__advantages-slider advantages-slider swiper-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide advantages-slide">
                                    <div class="advantages-slide__content">
                                        <div class="advantages-slide__title">Плотность спанбонда:</div>
                                        <div class="advantages-slide__value">от 10 до 150 гр/м2</div>
                                    </div>
                                </div>
                                <div class="swiper-slide advantages-slide">
                                    <div class="advantages-slide__content">
                                        <div class="advantages-slide__title">Ширина спанбонда:</div>
                                        <div class="advantages-slide__value">от 0,175 до 3,20 м</div>
                                    </div>
                                </div>
                                <div class="swiper-slide advantages-slide">
                                    <div class="advantages-slide__content">
                                        <div class="advantages-slide__title">Цвета:</div>
                                        <div class="advantages-slide__value">67 цветов и оттенков</div>
                                    </div>
                                </div>
                                <div class="swiper-slide advantages-slide advantages-slide--fill">
                                    <div class="advantages-slide__content">
                                        <div class="advantages-slide__name">Больше информации про производство можно найти на сайте производства:</div>
                                        <a href = "/span" class="advantages-slide__link">Перейти на сайт производства 
                                            <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.75 6.25H13.75M7.96528 11.75L13.75 6.25L7.96528 0.75" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>