<section class="banner @@margin" style = "background-image: url('/images/fs_slider.png')";>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="banner-content">
                    <div class="banner-content__left">
                        <div class="banner-content__tab fs_slide__tab">Система лояльности</div>
                        <div class="banner-content__title fs_slide__title">Получайте скидку от суммы заказов</div>
                    </div>
                    <div class="banner-content__right">
                        <div class="banner-content__block">
                            <div class="banner-content__block-name">при покупке на сумму от 40&nbsp;000&nbsp;₽</div>
                            <div class="banner-content__block-value"><span>-</span>3%</div>
                        </div>
                        <div class="banner-content__block">
                            <div class="banner-content__block-name">при покупке на сумму от 70&nbsp;000&nbsp;₽</div>
                            <div class="banner-content__block-value"><span>-</span>5%</div>
                        </div>
                        <div class="banner-content__block">
                            <div class="banner-content__block-name">при покупке на сумму от 100&nbsp;000&nbsp;₽</div>
                            <div class="banner-content__block-value"><span>-</span>10%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>