<div class="catalog-container">
    <div class="row row--catalog">
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
            <a href = "/news-card.html" class="news-card">
                <div class="news-card__content">
                    <div class="news-card__date">20.08.2026</div>
                    <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                    <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                </div>
                <div class="news-card__image">
                    <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                </div>
            </a>
        </div>
    </div>
</div>