<section class="breadscrumbs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <ul class="breadscrumbs__list">
                    <li class="breadscrumbs__item">
                        <a href="/" class="breadscrumbs__link">Главная</a>
                    </li>
                    <li class="breadscrumbs__item">
                        <span class="breadscrumbs__link">Каталог</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>