<section class="callback-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callback-section__container">
                    <div class="callback-section__content">
                        <div class="default-tab callback-section__tab">Есть идея? Мы её реализуем</div>
                        <div class="section-title callback-section__title">
                            Оставьте заявку или позвоните нам по телефону: <br>8 (800)-000-00-00
                        </div>
                        <p class="callback-section__description">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus.
                        </p>
                    </div>
                    <div class="callback-section__form">
                        @@include('../components/request-form.html')
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>