<section class="@@margin @@special catalog">
    <div class="container-fluid">
        @@if(title === 'true'){
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title catalog-title">Каталог</h2>
                </div>
            </div>
        }
        <div class="row row--catalog">
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Спанбонд в рулонах  и сложении</div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Двусторонний спанбонд в рулонах</div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Спанбонд для маскировочных сетей</div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Укрывной материал для растений</div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Геотекстиль садовый/строительный</div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Бинты и ленты садовые (строительные)</div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Скатерти праздничные из спанбонда</div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Простыни одноразовые с перфорацией в рулоне</div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/categoty.html" class="category-card">
                    <div class="category-card__image">
                        <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                    </div>
                    <div class="category-card__title">Плиссированный спанбонд</div>
                </a>
            </div>
        </div>
    </div>
</section>