<div data-pagination-num="2"> 
		<!-- pagination-container -->
    <div class="bx-pagination ">
        <div class="bx-pagination-container">
            <ul>
                <li class="bx-pag-prev">
                    <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="58" height="58" rx="10" fill="#EEEEF2" />
                        <rect x="0.5" y="0.5" width="57" height="57" rx="9.5" stroke="black" stroke-opacity="0.1" />
                        <path d="M35 29.5H22M29 36L22 29.5L29 23" stroke="black" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </li>
                <li class="bx-active"><span>1</span></li>        
                <li class=""><a href="/catalog/muzhskaya_odezhda/?PAGEN_2=2"><span>2</span></a></li>
                <li class=""><a href="/catalog/muzhskaya_odezhda/?PAGEN_2=2"><span>3</span></a></li>
                <li class=""><a href="/catalog/muzhskaya_odezhda/?PAGEN_2=2"><span>...</span></a></li>
                <li class=""><a href="/catalog/muzhskaya_odezhda/?PAGEN_2=2"><span>50</span></a></li>
                <li class="bx-pag-next">
                    <a href="/catalog/muzhskaya_odezhda/?PAGEN_2=2">
                        <svg style="transform: rotate(180deg);" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="58" height="58" rx="10" fill="#EEEEF2" />
                            <rect x="0.5" y="0.5" width="57" height="57" rx="9.5" stroke="black" stroke-opacity="0.1" />
                            <path d="M35 29.5H22M29 36L22 29.5L29 23" stroke="black" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </li>
        
            </ul>
            <div style="clear:both"></div>
        </div>
    </div>
		<!-- pagination-container -->
</div>