<div class="category-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="category-slider swiper-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide category-slide">
                            <a href = "/categoty.html" class="category-card">
                                <div class="category-card__image">
                                    <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                                </div>
                                <div class="category-card__title">Спанбонд в рулонах  и сложении</div>
                            </a>
                        </div>
                         <div class="swiper-slide category-slide">
                            <a href = "/categoty.html" class="category-card">
                                <div class="category-card__image">
                                    <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                                </div>
                                <div class="category-card__title">Двусторонний спанбонд в рулонах</div>
                            </a>
                        </div>
                         <div class="swiper-slide category-slide">
                            <a href = "/categoty.html" class="category-card">
                                <div class="category-card__image">
                                    <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                                </div>
                                <div class="category-card__title">Спанбонд для маскировочных сетей</div>
                            </a>
                        </div>
                         <div class="swiper-slide category-slide">
                            <a href = "/categoty.html" class="category-card">
                                <div class="category-card__image">
                                    <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                                </div>
                                <div class="category-card__title">Укрывной материал  для растений</div>
                            </a>
                        </div>
                         <div class="swiper-slide category-slide">
                            <a href = "/categoty.html" class="category-card">
                                <div class="category-card__image">
                                    <img src="/images/category.png" loading="lazy" width="375" height="375" alt="">
                                </div>
                                <div class="category-card__title">Спанбонд в рулонах  и сложении</div>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-button-prev swiper-button-prev">
                        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="58" height="58" rx="10" fill="white" />
                            <rect x="0.5" y="0.5" width="57" height="57" rx="9.5" stroke="black" stroke-opacity="0.1" />
                            <path d="M35 29.5H22M29 36L22 29.5L29 23" stroke="black" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="navigation-button-next swiper-button-next">
                        <svg style="transform: rotate(180deg);" width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="58" height="58" rx="10" fill="white" />
                            <rect x="0.5" y="0.5" width="57" height="57" rx="9.5" stroke="black" stroke-opacity="0.1" />
                            <path d="M35 29.5H22M29 36L22 29.5L29 23" stroke="black" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>