<div class="catalog-filter">
    <div class="catalog-filter__element open">
        <div class="catalog-filter__element-title catalog-filter__element-title--blog">
            <span>Наши рубрики</span>
        </div>
        <div class="catalog-filter__items-container">
            <div class="catalog-filter__items">
                <label class="catalog-filter__item-blog">
                    <input type="checkbox" name="filter1[]">
                    <div class="catalog-tags__item">
                        <div class="catalog-tags__item-name">Выставки, конференции</div>
                        <div class="catalog-tags__item-icon">
                            <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 2L5.5 7M10.5 12L5.5 7M5.5 7L0.5 12M5.5 7L10.5 2" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </label>
                <label class="catalog-filter__item-blog">
                    <input type="checkbox" name="filter1[]">
                    <div class="catalog-tags__item">
                        <div class="catalog-tags__item-name">О материале</div>
                        <div class="catalog-tags__item-icon">
                            <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 2L5.5 7M10.5 12L5.5 7M5.5 7L0.5 12M5.5 7L10.5 2" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </label>
                <label class="catalog-filter__item-blog">
                    <input type="checkbox" name="filter1[]">
                    <div class="catalog-tags__item">
                        <div class="catalog-tags__item-name">Правила применения</div>
                        <div class="catalog-tags__item-icon">
                            <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 2L5.5 7M10.5 12L5.5 7M5.5 7L0.5 12M5.5 7L10.5 2" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="catalog-filter__element open">
        <div class="catalog-filter__element-title catalog-filter__element-title--blog">
            <span>Интересно для</span>
        </div>
        <div class="catalog-filter__items-container">
            <div class="catalog-filter__items">
                <label class="catalog-filter__item-blog">
                    <input type="checkbox" name="filter1[]">
                    <div class="catalog-tags__item">
                        <div class="catalog-tags__item-name">Юридических лиц</div>
                        <div class="catalog-tags__item-icon">
                            <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 2L5.5 7M10.5 12L5.5 7M5.5 7L0.5 12M5.5 7L10.5 2" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </label>
                <label class="catalog-filter__item-blog">
                    <input type="checkbox" name="filter1[]">
                    <div class="catalog-tags__item">
                        <div class="catalog-tags__item-name">Физических лиц</div>
                        <div class="catalog-tags__item-icon">
                            <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.5 2L5.5 7M10.5 12L5.5 7M5.5 7L0.5 12M5.5 7L10.5 2" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>