<div class="catalog-filter">
    <div class="catalog-filter__element open">
        <div class="catalog-filter__element-title">
            <span>Назначение</span>
            <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.900391 0.900024L8.90039 6.90002L16.9004 0.900024" stroke="#696B6D" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="catalog-filter__items-container">
            <div class="catalog-filter__items">
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter1[]">
                    <span>Для огорода</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter1[]">
                    <span>Для мебели</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter1[]">
                    <span>Для сумок</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter1[]">
                    <span>Для одежды</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter1[]">
                    <span>Для строительства</span>
                </label>
            </div>
        </div>
    </div>
    <div class="catalog-filter__element open">
        <div class="catalog-filter__element-title">
            <span>Категории</span>
            <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.900391 0.900024L8.90039 6.90002L16.9004 0.900024" stroke="#696B6D" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="catalog-filter__items-container">
            <div class="catalog-filter__items">
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Укрывной</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Маскировочный</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Геотекстиль</span>
                </label>
            </div>
        </div>
    </div>
    <div class="catalog-filter__element open">
        <div class="catalog-filter__element-title">
            <span>Цвет</span>
            <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.900391 0.900024L8.90039 6.90002L16.9004 0.900024" stroke="#696B6D" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="catalog-filter__items-container">
            <div class="catalog-filter__items">
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Белый</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Зелёный</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Коричневый</span>
                </label>
            </div>
        </div>
    </div>
    <div class="catalog-filter__element">
        <div class="catalog-filter__element-title">
            <span>Особенности</span>
            <svg width="18" height="8" viewBox="0 0 18 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.900391 0.900024L8.90039 6.90002L16.9004 0.900024" stroke="#696B6D" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="catalog-filter__items-container">
            <div class="catalog-filter__items">
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Белый</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Зелёный</span>
                </label>
                <label class="catalog-filter__item">
                    <input type="checkbox" name="filter2[]">
                    <span>Коричневый</span>
                </label>
            </div>
        </div>
    </div>
</div>