<section class =  "fs_slider swiper-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide fs_slide" >
            <div class="fs_slide__content" style="background-image: url('/images/fs_slider.png');">
                <div class="fs_slide__tab">скидки до 20%</div>
                <div class="fs_slide__title">на Спанбонд в рулонах</div>
            </div>
        </div>
        <div class="swiper-slide fs_slide" >
            <div class="fs_slide__content" style="background-image: url('/images/fs_slider.png');">
                <div class="fs_slide__tab">скидки до 20%</div>
                <div class="fs_slide__title">на Спанбонд в рулонах</div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>