<section class="section hero-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <h2 class="section-title">Интернет-магазин для профессионалов и&nbsp;бизнеса</h2>
            </div>
            <div class="col-xl-6">
                <div class="hero-block__content">
                    <div class="hero-block__tabs">
                        <div class="hero-block__tab big-tab">
                            <div class="big-tab__icon">
                                <img src="/images/icon_russia.svg" alt="" width="40" height="40" loading="lazy">
                            </div>
                            <div class="big-tab__text">Поставки по всей России</div>
                        </div>
                        <div class="hero-block__tab big-tab">
                            <div class="big-tab__icon">
                                <img src="/images/icon_time.svg" alt="" width="40" height="40" loading="lazy">
                            </div>
                            <div class="big-tab__text">100% соблюдение сроков поставки</div>
                        </div>
                    </div>
                    <div class="hero-block__statistics">
                        <div class="hero-block__statistic">
                            <div class="hero-block__statistic-title">1 000</div>
                            <div class="hero-block__statistic-subtitle">довольных клиентов</div>
                        </div>

                        <div class="hero-block__statistic">
                            <div class="hero-block__statistic-title">4 года</div>
                            <div class="hero-block__statistic-subtitle">на рынке нетканых материалов</div>
                        </div>
                    </div>
                    <div class="hero-block__info">
                        <div class="hero-block__info-title">Покупайте как юридическое лицо</div>
                        <div class="hero-block__info__tabs">
                            <div class="default-tab info-tab">Специальные ценовые предложения</div>
                            <div class="default-tab default-tab--new info-tab">Персональный менеджер</div>
                            <div class="default-tab default-tab--new info-tab">Обмен документацией по ЭДО</div>
                            <div class="default-tab info-tab">Возврат НДС</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('category-list.html')
</section>