<section class="section hit-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title section-title--hit-block">Хиты продаж</h2>
                    <div class="hit-block__tags tags-switcher">
                        <div class="tags-switcher__item active">В розницу</div>
                        <div class="tags-switcher__item">Для бизнеса</div>
                    </div>
                @@include('product-slider.html')
            </div>
        </div>
    </div>
</section>