<section class="section news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title news-title">@@title</h2>
                <div class="hit-block__tags tags-switcher">
                    <div class="tags-switcher__item active">Новости</div>
                    <div class="tags-switcher__item">Полезные статьи</div>
                    <div class="tags-switcher__item">Инструкции</div>
                </div>
            </div>
        </div>
        <div class="row row--news">
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/news-card.html" class="news-card">
                    <div class="news-card__content">
                        <div class="news-card__date">20.08.2026</div>
                        <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                        <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                    </div>
                    <div class="news-card__image">
                        <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/news-card.html" class="news-card">
                    <div class="news-card__content">
                        <div class="news-card__date">20.08.2026</div>
                        <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                        <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                    </div>
                    <div class="news-card__image">
                        <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/news-card.html" class="news-card">
                    <div class="news-card__content">
                        <div class="news-card__date">20.08.2026</div>
                        <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                        <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                    </div>
                    <div class="news-card__image">
                        <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <a href = "/news-card.html" class="news-card">
                    <div class="news-card__content">
                        <div class="news-card__date">20.08.2026</div>
                        <div class="news-card__title">Спандом - надежный выбор безопасного и качественного спанбонда</div>
                        <div class="news-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar tempus pulvinar sit elementum senectus lectus diam amet in. Posuere dui ut amet enim. </div>
                    </div>
                    <div class="news-card__image">
                        <img src="/images/news-card.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                </a>
            </div>
        </div>
        
        <a href="/news.html" class="default-btn news-btn">Смотреть все новости</a>
    </div>
</section>