<section class = "section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">наша команда</h2>
            </div>
        </div>
        <div class="row row--catalog">
            <div class="col-xl-3 col-md-6">
                <div class="team-image"><img src="/images/team.png" alt=""></div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="team-image"><img src="/images/team2.png" alt=""></div>
            </div>
            <div class="col-xl-6">
                <div class="team-image"><img src="/images/team3.png" alt=""></div>
            </div>
        </div>
        <div class="row">
            <div class="team-ancor">
                <div class="team-ancor__tag">Наш слоган</div>
                <div class="team-ancor__text">Благодаря техническому превосходству и надежной команде мы сможем достичь результата!</div>
            </div>
        </div>
    </div>
</section>