<section class="section spanbond">
    <div class="container-fluid">
        <div class="row row--spanbond">
            <div class="col-xl-6">
                <h2 class="section-title">Оптовые закупки спанбонда под любые задачи</h2>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond1.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Промышленное строительство</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond2.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Дорожное строительство</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond3.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Ландшафтный дизайн</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond4.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Сельское хозяйство и агро</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond5.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Системы фильтрации</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond6.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Звукоизоляция и шумоизоляция</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond7.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Товары медицинского назначения</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond8.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Бытовое применение</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="spanbond-card">
                    <div class="spanbond-card__image">
                        <img src="/images/spanbond9.png" width="375" height="375" loading="lazy" alt="">
                    </div>
                    <div class="spanbond-card__title">Смотреть всю нашу продукцию</div>
                </div>
            </div>
        </div>
    </div>
</section>