<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title section-title--mb">Мы доставляем</h2>
            </div>
        </div>
        <div class="row row--catalog">
            <div class="col-xl-3 col-md-6">
                <div class="tk-delivery-card tk-delivery-card--pr">
                    <div class="tk-delivery-card__content">
                        <div class="tk-delivery-card__image">
                            <img src="/images/pr-logo.svg" alt="">
                        </div>
                        <div class="tk-delivery-card__info">
                            <div class="tk-delivery-card__name">Почта России</div>
                            <a class="tk-delivery-card__link">Условия доставки</a>
                            <a class="tk-delivery-card__link">Отследить свой заказ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="tk-delivery-card tk-delivery-card--cdek">
                    <div class="tk-delivery-card__content">
                        <div class="tk-delivery-card__image">
                            <img src="/images/cdek-logo.svg" alt="">
                        </div>
                        <div class="tk-delivery-card__info">
                            <div class="tk-delivery-card__name">СДЭК</div>
                            <a class="tk-delivery-card__link">Условия доставки</a>
                            <a class="tk-delivery-card__link">Отследить свой заказ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="tk-delivery-card tk-delivery-card--pek">
                    <div class="tk-delivery-card__content">
                        <div class="tk-delivery-card__image">
                            <img src="/images/pek-logo.svg" alt="">
                        </div>
                        <div class="tk-delivery-card__info">
                            <div class="tk-delivery-card__name">ПЭК</div>
                            <a class="tk-delivery-card__link">Условия доставки</a>
                            <a class="tk-delivery-card__link">Отследить свой заказ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="tk-delivery-card tk-delivery-card--dl">
                    <div class="tk-delivery-card__content">
                        <div class="tk-delivery-card__image">
                            <img src="/images/dl-logo.png" alt="">
                        </div>
                        <div class="tk-delivery-card__info">
                            <div class="tk-delivery-card__name">Деловые линии</div>
                            <a class="tk-delivery-card__link">Условия доставки</a>
                            <a class="tk-delivery-card__link">Отследить свой заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>