<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title section-title--mb">Дополнительные услуги</h2>
                <div class="sub-text">*Если не работает лифт или невозможно поместить в него крупногабаритный товар, курьер сможет доставить заказ по лестнице не выше 5 этажа.</div>
            </div>
        </div>
        <div class="row row--catalog">
            <div class="col-xl-3 col-md-6">
                <div class="tk-service-card">
                    <div class="tk-service-card__tag">заказ до 20 кг</div>
                    <div class="tk-service-card__title">Доставка до квартиры или производства</div>
                    <div class="tk-service-card__text">Наш курьер доставит ваш заказ прямо к вам, к двери, не нужно его забирать с пункта выдачи.</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="tk-service-card">
                    <div class="tk-service-card__tag">Заказ от 20 до 30 кг</div>
                    <div class="tk-service-card__title">Доставка нашим курьером до входа</div>
                    <div class="tk-service-card__text">Подъем заказа курьером на лифте – 150 руб., если нет лифта – 50 руб./этаж.</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="tk-service-card">
                    <div class="tk-service-card__tag">заказ от 30 до 50 кг</div>
                    <div class="tk-service-card__title">Доставка до места, помощь с разгрузкой</div>
                    <div class="tk-service-card__text">Доставим ваш заказ до входа, наш курьер поможет сгрузить с машины.</div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="tk-service-card">
                    <div class="tk-service-card__tag">Более 50 кг</div>
                    <div class="tk-service-card__title">Доставка до склада или производства</div>
                    <div class="tk-service-card__text">Наш курьер доставит ваш заказ прямо к вам, но разгрузка товара происходит силами заказчика.</div>
                </div>
            </div>
        </div>
    </div>
</section>