<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title section-title--mb">Стоимость доставки</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tk-table-block">
                    <p class="tk-table-block__ancor">*Расчет является приблизительным. Окончательную стоимость доставки уточняйте у менеджера при оформлении заказа.</p>
                    <div class="table-wrapper">
                        <table class="delivery-table">
                        <thead>
                            <tr>
                            <th>Вес, кг</th>
                            <th>Стоимость доставки до ТК</th>
                            <th>Стоимость доставки по ЦФО</th>
                            <th>Стоимость доставки за ЦФО</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>от 0 до 14,9 кг</td>
                                <td>100</td>
                                <td>290</td>
                                <td>490</td>
                            </tr>
                            <tr>
                                <td>от 15 до 29,9 кг</td>
                                <td>100</td>
                                <td>350</td>
                                <td>590</td>
                            </tr>
                            <tr>
                                <td>от 30 до 99,9 кг</td>
                                <td>200</td>
                                <td>650</td>
                                <td>900</td>
                            </tr>
                            <tr>
                                <td>от 100 до 199,9 кг</td>
                                <td>500</td>
                                <td>1000</td>
                                <td>1300</td>
                            </tr>
                            <tr>
                                <td>от 200 до 499,9 кг</td>
                                <td>800</td>
                                <td>1950</td>
                                <td>2250</td>
                            </tr>
                            <tr>
                                <td>от 500 до 1000 кг</td>
                                <td>1500</td>
                                <td>2600</td>
                                <td>2900</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>