<section class="section values">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title values-title">@@title</h2>
            </div>
        </div>
        <div class="row row--values">
            <div class="col-xl-3 col-md-6 col-12">
                <div class="values-card">
                    <div class="values-card__content">
                        <div class="values-card__tag">Ценность №1</div>
                        <div class="values-card__title">Название ценности примерно в две строки</div>
                        <div class="values-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar fames gravida pharetra dui vitae blandit. </div>
                    </div>
                    <!-- <div class="values-card__image">
                        <img src="/images/values-card.png" width="375" height="375" loading="lazy" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <div class="values-card">
                    <div class="values-card__content">
                        <div class="values-card__tag">Ценность №2</div>
                        <div class="values-card__title">Название ценности примерно в две строки</div>
                        <div class="values-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar fames gravida pharetra dui vitae blandit. </div>
                    </div>
                    <!-- <div class="values-card__image">
                        <img src="/images/values-card.png" width="375" height="375" loading="lazy" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <div class="values-card">
                    <div class="values-card__content">
                        <div class="values-card__tag">Ценность №3</div>
                        <div class="values-card__title">Название ценности примерно в две строки</div>
                        <div class="values-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar fames gravida pharetra dui vitae blandit. </div>
                    </div>
                    <!-- <div class="values-card__image">
                        <img src="/images/values-card.png" width="375" height="375" loading="lazy" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-12">
                <div class="values-card">
                    <div class="values-card__content">
                        <div class="values-card__tag">Ценность №4</div>
                        <div class="values-card__title">Название ценности примерно в две строки</div>
                        <div class="values-card__text">Lorem ipsum dolor sit amet consectetur. Pulvinar fames gravida pharetra dui vitae blandit. </div>
                    </div>
                    <!-- <div class="values-card__image">
                        <img src="/images/values-card.png" width="375" height="375" loading="lazy" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>